<div class="texto">
    <h1>PASTEL ARROZ Y MANZANA</h1>
    <div class="row">
        <div class="col">
            <h2>Ingredientes</h2> 
            <ul>
                <li>2 tazas de agua, caliente (500 ml)</li>
                <li>1/2 taza de arroz, remojado en agua caliente (105 g)</li>
                <li>1 raja de canela (7 g)</li>
                <li>2 tazas de almendra + jugo de manzana Nature’s Heart®, frío (500 ml)</li>
                <li>1 manzana roja, cortada en cubos (150 g)</li>
                <li>1/2 taza de LA LECHERA® en Balance Sin grasa*(125 g)</li>
                <li>1 cucharadita de canela, molida (5 g)</li>
                <li>2 cucharadas de almendra rebanada Nature’s Heart® (20 g)</li>
            </ul>
        </div>
        <div class="col">
            <h2>PREPARACIÓN</h2>
            
            <br>
            <ol>
                <li>En una olla hierve el agua, agrega el arroz y la raja de canela, cocina a fuego alto durante 15 minutos 
            o hasta que el arroz este cocido. Enfría y reserva.</li>
                <li>Vierte las 2 tazas de almendra + jugo de manzana Nature’s Heart® con LA LECHERA® en Balance Sin grasa* 
            y los cubos de manzana. Mezcla hasta integrar por completo los ingredientes.</li>
                <li>Sirve en vasos altos; decora con canela molida y almendra rebanada Nature’s Heart®.</li>
            </ol>
            
        </div>

       
        
    </div>
    <div class="row">
            <label htmlFor="comentario" for="comentario"></label>
            <input type="text" name="comentario" id="comentario">

        </div>
</div>
